
.khan__image {
  max-width: 620px;
  max-height: 608px;
  overflow: hidden; /* Скрывает части изображения, выходящие за пределы контейнера */
}

.khan__image img {
  width: 100%; /* Растягивает изображение по ширине контейнера */
  height: 100%; /* Растягивает изображение по высоте контейнера */
  object-fit: cover; /* Обрезает изображение для заполнения контейнера */
  object-position: top; /* Выравнивает изображение по верхнему краю */
}
