
.feynman {
  background-color: #F2F2F2;
  margin: 0 auto ;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  padding-top: 100px;
}

.image__place_feynman {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

