
.video {
  padding-top: 100px;
  min-height: 430px;
}

.iframes_wrapper{
  position: relative;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.iframes {
  display: flex;

  gap: 20px;
  position: absolute;
  top: 50px;
  z-index: 2;
}

.iframe {
  width: 515px;
  height: 316px;
}
