

.header__title {
  max-width: 730px;
  margin-left: 64px;
  font-size: 102px;
  font-weight: 600;
  z-index: 3;
}

.header__subtitle {
  position: absolute;
  font-size: 20px;
  line-height: 1.2;
  max-width: 388px;
  left: 64px;
  bottom: 30px;
  z-index: 3;
}

